services:
  SITE_NAME:
    labels:
      # Change site URL here
      - caddy_0=SITE_NAME.com www.SITE_NAME.com
      - caddy_0.0_import=crowdsec
      - caddy_0.1_import=wordpress_rate_limit
      # Change TLS here (remove to generate signed certificate)
      - caddy_0.2_tls=internal
      - caddy_0.reverse_proxy={{upstreams 80}}
      - caddy_0.reverse_proxy.0_header_up=X-Real-IP {client_ip}
      - caddy_0.reverse_proxy.1_header_up=X-Forwarded-For {client_ip}
    # container_name: SITE_NAME # doesn't work in coolify
    image: 'ghcr.io/boost-creative/coolify-wordpress-8'
    restart: unless-stopped
    mem_limit: ${WP_MEM_LIMIT:-512m}
    cpus: ${WP_CPU_LIMIT:-2}
    networks: [coolify]
    depends_on:
      - SITE_NAME-db
      - SITE_NAME-valkey
    volumes:
      - '/home/boost/sites/SITE_NAME/wordpress:/usr/src/wordpress'
      - '/home/boost/sites/SITE_NAME/db:/var/db'
      - 'sock:/tmp/sock:ro'
    environment:
      TZ: America/Detroit
      DB_HOST: 'localhost:/tmp/sock/mysqld.sock'
      DB_NAME: 'wp'
      MDBU: ${SERVICE_USER_MARIADB}
      MDBP: ${SERVICE_PASSWORD_MARIADB}
      REDIS_HOST: /tmp/sock/valkey.sock
      ADDITIONAL_PLUGINS: 'w3-total-cache fluent-smtp better-wp-security simple-cloudflare-turnstile'
      CRON: |
        8 2 * * * sleep $(tr -dc 0-9 < /dev/urandom | head -c2) && wp db export --path=/usr/src/wordpress /var/db/wp.sql
  SITE_NAME-db:
    container_name: SITE_NAME-mariadb
    image: 'yobasystems/alpine-mariadb:11'
    restart: unless-stopped
    mem_limit: ${WP_MEM_LIMIT:-512m}
    # cpus: ${WP_CPU_LIMIT:-4}
    environment:
      MYSQL_DATABASE: wp
      MYSQL_USER: ${SERVICE_USER_MARIADB}
      MYSQL_PASSWORD: ${SERVICE_PASSWORD_MARIADB}
      MYSQL_ROOT_PASSWORD: ${SERVICE_PASSWORD_MARIADB}
    volumes:
      - 'sock:/var/run/mysqld'
      - 'db:/var/lib/mysql'
      - '/etc/coolify-setup/mariadb/my.cnf:/etc/my.cnf'
      - '/etc/coolify-setup/mariadb/db-entrypoint.sh:/scripts/run.sh'
  SITE_NAME-valkey:
    # container_name: SITE_NAME-valkey
    image: 'valkey/valkey:8-alpine'
    restart: unless-stopped
    command: sh -c "mkdir -p /tmp/sock && rm -f /tmp/sock/valkey.sock && valkey-server /usr/local/etc/valkey/valkey.conf"
    volumes:
      - '/etc/coolify-setup/valkey/valkey.conf:/usr/local/etc/valkey/valkey.conf'
      - 'sock:/tmp/sock'
volumes:
  db: null
  sock: null
networks:
  coolify:
    external: true
